name: tests

on: [push]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: linux-latest

    steps:
    - uses: actions/checkout@v3

    - name: install dependencies
      run: sudo apt-get update;
           sudo apt-get install boost;
           sudo apt-get install googletest
      
    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Test
      run: ${{github.workspace}}/build/tests/boost-tcp-server-client-tests
